
var config = [

//{"name": "Benny (TS teacher ACC)", "value":"https://buk7qq6u09.execute-api.eu-central-1.amazoname.com/default/taschenrechner","keys":["p_1","p_2"]},
{"name": "Marco", "value":"https://bw2msftzkk.execute-api.eu-central-1.amazonaws.com/default/CalculatorFunction", "keys":["val_a","val_b","action"]},
{"name": "AKTUELL", "value":"_NONE_", "keys":["x", "y","operation"] }
];



